/* =====================================================================================================================
   Main container
===================================================================================================================== */

.cinemol {
    height: 100%;
}

/* =====================================================================================================================
    Viewer container
===================================================================================================================== */

.cinemol-viewer-container {
    height: 100%;
}

/* Light mode */
.cinemol-viewer-container.light {
    background-color: #ffffff; /* Light background color */
}
  
/* Dark mode */
.cinemol-viewer-container.dark {
    background-color: #333333; /* Dark background color */
}

/* =====================================================================================================================
   Viewer
===================================================================================================================== */

.cinemol-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayed-out {
    filter: grayscale(100%);
    opacity: 0.5; /* You can adjust the opacity value to control the level of gray-out effect */
} 

/* =====================================================================================================================
   Sidebar

   Source: https://codesandbox.io/p/sandbox/collapsible-sidebar-nj5x6?file=%2Fsrc%2Fstyles.css%3A31%2C16
===================================================================================================================== */

.cinemol-sidebar {
    position: absolute;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
    box-shadow: 0 50px 5px rgba(0, 0, 0, 1.0);
}

.cinemol-sidebar-toggle {
    position: relative;
    top: 50%;
    right: -250px;
    height: 50px;
    width: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.cinemol-sidebar-toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: lightgray;
}

.cinemol-sidebar-content {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
    overflow-y: scroll;
}

.cinemol-sidebar.open {
    left: 0;
}

.cinemol-sidebar-content.open {
    left: 250px;
}

.cinemol-sidebar-version {
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* =====================================================================================================================
    Sidebar button
===================================================================================================================== */

.cinemol-sidebar-button {
    width: 100%; 
    height: 40px;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.cinemol-sidebar-button:hover {
    background-color: white;
}

.cinemol-sidebar-button:active {
    background-color: #2f6eb5;
    transform: translateY(2px);
}

.cinemol-sidebar-button span {
    margin-left: 10px;
}

/* =====================================================================================================================
    Sidebar counter
===================================================================================================================== */

.cinemol-sidebar-counter-container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    text-align: left; 
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    background-color: #efefef;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cinemol-sidebar-counter-title {
    padding-left: 10px;
}

.cinemol-sidebar-counter-button {
    height: 20px;
    width: 25px;
    border: none;
    cursor: pointer;   
    transition: background-color 0.3s ease;
}

.cinemol-sidebar-counter-button.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #2f6eb5;
}

.cinemol-sidebar-counter-button.left:hover {
    background-color: #2f5eb5;
}

.cinemol-sidebar-counter-button.left:active {
    transform: translateY(0.5px);
}

.cinemol-sidebar-counter-button.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d13f3f;
}

.cinemol-sidebar-counter-button.right:hover {
    background-color: #b52f3f;
}

.cinemol-sidebar-counter-button.right:active {
    transform: translateY(0.5px);
}

/* =====================================================================================================================
    Sidebar input
===================================================================================================================== */

.cinemol-sidebar-input-container {
    width: calc(100% - 20px);
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: left; 
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    background-color: #efefef;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cinemol-sidebar-input-title {
    padding-left: 10px;
}

.cinemol-sidebar-input-container.right {
    width: 60px;
}

.cinemol-sidebar-input-container.right input {
    width: 60px;
    height: 20px;
}

.cinemol-sidebar-set-input-button {
    width: 30px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}