:root {
    --default-padding: 20px;
    --header-height: 50px;
    --footer-height: 50px;
    --tile-size: 250px;
    --tile-padding: 5px;
}

@import "home/home.css";
@import "about/about.css";
@import "changelog/changelog.css";
@import "biosynfoni/biosynfoni.css";

* {
    font-family: "Arial", sans-serif;
    color: black;
}

html, body {
    margin: 0;
} 

.app {
    height: 100vh;
    overflow: hidden;
}

.widget {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    height: calc(100% - var(--header-height));
    overflow: auto;
    background-color: transparent;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.widget-content {
    display: flex;
    min-height: 100%;
}

/* Spin class to make icons spin during fetching/loading events */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 0.5s linear infinite; /* Decreased duration for rapid spinning */
}