@import "variables.css";

.footer {
    background-color: var(--color1);
    min-height: var(--footer-height);
    max-height: var(--footer-height);
    width: 100%;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);

    /* Footer shhould always be visible on the bottom of the page. */
    position: fixed; 
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}