.header {
    padding: var(--default-padding);
    height: (var(--header-height));
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    /* Header should always be on top of app content. */
    position: relative;
    z-index: 9999;

    /* Make sure logo is to the left and Navbar is to the right. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar {
    margin-left: auto;
}