.header {
    padding: var(--default-padding);
    height: (var(--header-height));
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    /* Header should always be on top of app content. */
    position: relative;
    z-index: 9999;

    /* Make sure logo is to the left and Navbar is to the right. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar {
    margin-left: auto; /* Push Navbar to the right. */
}

.api-status {
    margin-left: 20px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 15px;
    color: white;
    opacity: 0.8;
}

.api-status.ok {
    background-color: green;
}

.api-status.not-ok {
    background-color: red;
}