@import "variables";

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

.navbar .link {
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 1.1rem;
}

.navbar .link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}