:root {
    --biosynfoni-primary-color: #7B9204;
    --biosynfoni-secondary-color: #B9C311;
    --biosynfoni-text-color: #282828;
    --biosynfoni-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/* =====================================================================================================================
   Main container
===================================================================================================================== */

.biosynfoni {
    height: 100%;
    background-color: var(--biosynfoni-primary-color);
}

/* =====================================================================================================================
   Input container
===================================================================================================================== */

.biosynfoni-input-container {
    padding: var(--default-padding);
    display: flex;
    align-items: center;
}

/* =====================================================================================================================
   SMILES input
===================================================================================================================== */

.biosynfoni-smiles-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* =====================================================================================================================
   Submit button
===================================================================================================================== */

.biosynfoni-submit-button {
    width: 100px;
    height: 56px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: var(--biosynfoni-font-family);
    transition: background-color 0.2s, transform 0.2s;
}

.biosynfoni-submit-button:hover {
    background-color: var(--biosynfoni-secondary-color);
}

.biosynfoni-submit-button:active {
    transform: translateY(2px);
}

/* =====================================================================================================================
   Result container
===================================================================================================================== */

.biosynfoni-result-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

/* =====================================================================================================================
   Mol view
===================================================================================================================== */

.biosynfoni-mol-view {
    padding-top: 25px;
    padding-right: 10px;
    flex: 0 0 50%;
    height: 400px;
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: right;
}

/* =====================================================================================================================
   Prediction view
===================================================================================================================== */

.biosynfoni-pred-view {
    padding-top: 25px;
    padding-left: 10px;
    flex: 0 0 50%;
    height: 400px;
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: left;
}