:root {
    --biosynfoni-primary-color: #7B9204;
    --biosynfoni-secondary-color: #B9C311;
    --biosynfoni-text-color: #282828;
    --biosynfoni-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/* =====================================================================================================================
   Main container
===================================================================================================================== */

.biosynfoni {
    height: 100%;
    background-color: var(--biosynfoni-primary-color);
}

/* =====================================================================================================================
   Input container
===================================================================================================================== */

.biosynfoni-input-container {
    padding: var(--default-padding);
    display: flex;
    align-items: center;
}

/* =====================================================================================================================
   Smiles input

   Source: https://medium.com/@whwrd/building-a-beautiful-text-input-component-in-react-f85564cc7e86
===================================================================================================================== */

.field {
    width: 100%;
    height: 56px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
    flex-grow: 1;
}
  
.field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
  
.field.active {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
  
.field.active input {
    padding: 10px 16px 8px 16px;
}
  
.field.active input + label {
    top: 4px;
    opacity: 1;
    color: #434343;
}
  
.field.locked {
    pointer-events: none;
}
  
.field input {
    width: calc(100% - 30px);
    height: 56px;
    position: relative;
    padding: 0px 16px;
    border: none;
    font-family: var(--biosynfoni-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
}
  
.field input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
  
.field input + label {
    position: absolute;
    top: 24px;
    left: 16px;
    font-family: var(--biosynfoni-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all ease-in-out;
}
  
.field input + label.error {
    color: #ec392f;
}
  
.field p.predicted {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: var(--biosynfoni-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #e0e0e0;
    opacity: 1;
    pointer-events: none;
}

/* =====================================================================================================================
   Submit button
===================================================================================================================== */

.biosynfoni-submit-button {
    width: 100px;
    height: 56px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: var(--biosynfoni-font-family);
    transition: background-color 0.2s, transform 0.2s;
}

.biosynfoni-submit-button:hover {
    background-color: var(--biosynfoni-secondary-color);
}

.biosynfoni-submit-button:active {
    transform: translateY(2px);
}

/* =====================================================================================================================
   Result container
===================================================================================================================== */

.biosynfoni-result-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

/* =====================================================================================================================
   Mol view
===================================================================================================================== */

.biosynfoni-mol-view {
    padding-top: 25px;
    padding-right: 10px;
    flex: 0 0 50%;
    height: 400px;
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: right;
}

/* =====================================================================================================================
   Prediction view
===================================================================================================================== */

.biosynfoni-pred-view {
    padding-top: 25px;
    padding-left: 10px;
    flex: 0 0 50%;
    height: 400px;
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: left;
}